.table .table-cell{
  display: table-cell;
  vertical-align: middle;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 10px;
}
.card{
  margin: 15px;
}
.container-lists{
  padding: 50px 40px;
}
.form-inline .form-group label, .form-inline .form-group, .form-inline button{
  margin-right: 10px;
}
.panel-drop{
  min-height: 200px;
}
.list-item{
  display: inline-block;
  vertical-align: top;
  float: none;
}
.container-lists .row{
  white-space: nowrap;
}